* {
  margin: 0;
  background-color: rgb(214, 219, 220);
}

.box{
  border: solid 2px black;
  border-radius: 30px;
  width: 400px;
  height: 300px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.bRed,.bBlue,.bGrey,.bTeal{
  font-size: 20px;
  padding: 10px;
  margin-left: 10px;
  border-radius: 20px;
}
.bRed{
  background-color: red;
}
.bBlue{
  background-color: blue;
}
.bGrey{
  background-color: grey;
}
.bTeal{
  background-color: teal;
}

.btnDiv{
  margin-top: 20px;
}

/* .Hred, .Hgrey{
  float:right;
  margin-right: 30%;
} */

